<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../public/css/materialize.css"></link>
    <link rel="stylesheet" type="text/css" href="../../public/css/home.css"></link>
    <link rel="stylesheet" href="../../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2"></link>
    <script type="text/javascript" src="../../public/js/materialize.js"></script>
</head>

<body>
    <div class="row valign-wrapper">
        <div id="nav_btn" class="col m4 s12 gradient-compass">
            <div>
                <h4 class="white-text mont-serrat">É nosso membro?</h4>
            </div>
            <button id="btn_log" class="btn" onclick="log()">Logar</button>
            <button id="btn_cad" class="btn hide" onclick="cad()">Cadastrar</button>
        </div>
        <div id="nav_form" class="col m8 s12 grey lighten-5 z-depth-5 full-height">
            <div class="row center margin-login">
                <h2 class="blue-compass center mont-serrat">Bem-vindo</h2>
                <form>
                    <div class="col s12">
                        <div class="row">
                            <img id="image" src="http://via.placeholder.com/150x150" class="circle" />
                            <input type="file" id="myfile" class="hide" />
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_name" name="login_name"type="text" class="validate">
                            <label class="active" for="login_name">Nome</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_lastname" type="text" class="validate">
                            <label class="active" for="login_lastname">Sobrenome</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_login" type="text" class="validate">
                            <label class="active" for="login_login">Nome de usuário</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_date" type="date" class="validate">
                            <label class="active" for="login_date">Data de nascimento</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="login_email" type="email" class="validate" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                            <label class="active" for="login_email">Email</label>
                            <span class="helper-text" data-error="email inválido" data-success="email válido"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_senha" type="password" class="validate" data-length="6">
                            <label class="active" for="login_senha">Senha</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_repsenha" type="password" class="validate">
                            <label class="active" for="login_repsenha">Repetir senha</label>
                        </div>
                    </div>
                </form>
                <div class="row center">
                    <button class="btn bg-blue-compass rounded waves-effect" onclick="submit()" >Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../public/js/cadastro.js"></script>
</body>

</html>