<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Game of bols</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/materialize.css"></link>
    <link rel="stylesheet" type="text/css" href="../../public/css/home.css"></link>
    <link rel="stylesheet" href="../../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../../public/js/materialize.js"></script>
</head>
<body>
    <div class="row gradient-compass">
        <div class="col m5 s12">
        <!-- espaço azul -->
        </div>
        <div class="col m7 s12 grey lighten-5 z-depth-5 full-height">
            <div class="row center margin-login">
                <h4 class="blue-compass center mont-serrat">Bem-vindo</h4>
                <form>
                    <div class="col s12">
                        <div class="row">
                            <img id="image" src="http://via.placeholder.com/150x150" class="circle"/>
                            <input type="file" id="myfile" class="hide"/>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_name" type="text" class="active">
                            <label for="log_name">Nome</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_sobrename" type="text" class="active">
                            <label for="log_sobrename">Sobrenome</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_login" type="text" class="active">
                            <label for="login_login">Nome de usuário</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_date" type="date" class="active">
                            <label for="login_date">Data de nascimento</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="login_email" type="email" class="active">
                            <label for="login_email">Email</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_senha" type="password" class="active">
                            <label for="login_senha">Senha</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="login_senha" type="password" class="active">
                            <label for="login_senha">Repetir senha</label>
                        </div>
                    </div>
                </form>
                <div class="row center">
                    <button class="btn bg-blue-compass rounded">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>