html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: -moz-linear-gradient(left, #3A5377 0%, #8095B1 100%);
    background: -webkit-linear-gradient(left, #3A5377 0%, #8095B1 100%);
    background: linear-gradient(to right, #3A5377 0%, #8095B1 100%);
    height: 100vh !important;
    overflow: hidden;
}

.margin-top{
    margin-top: 10%;
}