body {
    height: 100vh;
    overflow-y: scroll;
}

@media screen and (max-width: 435px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .full-height {
        height: 80vh !important;
    }
    .height-title {
        font-size: 2.56rem;
    }
    h2 {
        font-size: 2rem !important;
    }
}

.g-recaptcha {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
}

.btn-margin-top {
    margin-top: 3%;
}

.form-photo:hover {
    opacity: 0.6;
    cursor: pointer;
}

.input-field {
    margin-bottom: unset !important;
}