body{
    overflow: auto;
}
.nav-padding-left {
    padding-left: 1%;
}
.logo-img {
    background-image: url("../img/logo_compasso_mini.png");
    background-repeat: no-repeat;
    background-color: white;
    height: 50px;
    width: 50px;
}
.span-margin{
    margin: 0 14px 0 0;
}
.btn-margin-right{
    margin-right: 1%;
}
.confirme{
    width: 115px;
    margin-left: auto;
    margin-right: auto;
}
/*nav .brand-logo {
    font-size: 1rem !important;
}*/
.alterar-senha-margin-top{
    margin-top: 5%;
}
.left-divider{
    border-left: 1px solid lightgrey;
}
.topico:not(:last-child){
    border-bottom: 1px solid lightgrey;
}
.topico-titulo{
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: bold;
}