html {
    width: 100%;
    height:100%;
    overflow:hidden;
}
.full-height{
    height:100vh !important;
}

.margin-login{
    margin:10% !important;
}

.blue-compass{
    color: #3A5477;
}
.bg-blue-compass{
    background-color: #3A5477;
}
.gradient-compass{
    background: -moz-linear-gradient(left, #3A5377 0%, #8095B1 50%, #E2E6EB 100%);
    background: -webkit-linear-gradient(left, #3A5377 0%, #8095B1 50%, #E2E6EB 100%);
    background: linear-gradient(to right, #3A5377 0%, #8095B1 50%, #E2E6EB 100%); 
    height: 100vh !important;
}
.bg-yellow-compass{
    background-color: #F4C44A;
}
.yellow-compass{
    color: #F4C44A;
}
.grey-compass{
    color: #373435;
}
.mont-serrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.rounded{
    border-radius:50px;
}

.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
  border-bottom: unset !important;
  box-shadow: unset !important;
}

.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
  color: #01579b;
}

.input-field input[type].invalid,
.input-field input[type].invalid:focus,
.input-field textarea.invalid,
.input-field textarea.invalid:focus {
  border-bottom: 1px solid #e57373;
  box-shadow: 0 1px 0 0 #e57373;
}

.input-field input[type].invalid:focus+label,
.input-field input[type].invalid~.helper-text::after,
.input-field input[type].invalid:focus~.helper-text::after, 
.input-field textarea.invalid:focus+label,
.input-field textarea.invalid~.helper-text::after,
.input-field textarea.invalid:focus~.helper-text::after {
  color: #e57373;
}

.input-field input[type].valid,
.input-field input[type].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

.input-field input[type].valid:focus+label,
.input-field input[type].valid~.helper-text::after,
.input-field input[type].valid:focus~.helper-text::after,
.input-field textarea.valid:focus+label,
.input-field textarea.valid~.helper-text::after,
.input-field textarea.valid:focus~.helper-text::after {
  color: #26a69a;
}
input:not([type]),
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea{
    background-color: #eeeeee94 !important;
}
.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: rgba(62, 87, 122, 0.95) !important;
}