body {
    height: 100vh;
}

@media screen and (max-width: 435px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .full-height {
        height: 80vh !important;
    }
    .height-title {
        font-size: 2.00rem;
    }
}

.margin-login {
    margin: 10%;
}