<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Game of bols</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/materialize.css"></link>
    <link rel="stylesheet" type="text/css" href="../../public/css/home.css"></link>
    <link rel="stylesheet" href="../../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../../public/js/materialize.js"></script>
</head>
<body>
    <div class="row gradient-compass">
        <div class="col m7 s12 grey lighten-5 z-depth-5 full-height valign-wrapper">
            <div class="row center margin-login">
                <h4 class="blue-compass center mont-serrat">Entrar no Game of Bols</h4>
                <form>
                    <div class="col s12">
                        <div class="input-field col s12">
                            <input id="login_email" type="email" class="active">
                            <label for="login_email">E-mail ou nome de usuário</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="login_senha" type="password" class="active">
                            <label for="login_senha">Senha</label>
                        </div>
                        <div class="col s12 margin-forgot-pass">
                            <a href="#" class="blue-text">Esqueci a senha</a>
                        </div>
                    </div>
                </form>
                <div class="row center">
                    <button class="btn bg-blue-compass rounded">Entrar</button>
                </div>
            </div>
        </div>
        <div class="col m5 s12">
            <!-- espaço azul -->
        </div>
    </div>
</body>
</html>