<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/material-icons.css">
    <link rel="stylesheet" href="/public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/driver.min.css">
</head>

<body class="bg-blue-compass">
    <header>
        <% include ./includes/navbar.ejs %>
    </header>

    <div>
        <h1 class="white-text center">404</h1>
        <h2 class="white-text center">Página não encontrada</h2>
    </div>

    <% include ./includes/chatbot.ejs %>

        <!-- Ordem de carregamento de script -->
        <script type="text/javascript" src="/public/js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/libs/materialize.js"></script>
        <script type="text/javascript" src="/public/js/libs/md5.min.js"></script>
        <script type="text/javascript" src="/public/js/menu/menu.js"></script>
        <script type="text/javascript" src="/public/js/tour/tour.js"></script>
        <script type="text/javascript" src="/public/js/libs/driver.min.js"></script>
        <!-- Ordem de carregamento de script -->


</body>

</html>