<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/material-icons.css">
    <link rel="stylesheet" type="text/css" href="../public/css/alterar_senha.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
</head>

<body class="bg-blue-compass">
    <header>
        <% include ./includes/navbar.ejs %>
    </header>
    <!-- Card alterar senha -->
    <div class="row center alterar-senha-margin-top">
        <div class="col s12 m4 offset-m4">
            <div class="card-panel white z-depth-5">
                <div class="row">
                    <h5 class="blue-compass center mont-serrat margin-bottom">Altere sua senha</h5>
                    <p class="grey-text text-darken-2 font-key">Insira uma combinação de pelo menos 6 caracteres</p>
                    <div class="input-field col s12">
                        <input id="card_senhaatual" type="password" class="validate" name="senha" required>
                        <label for="card_senhaatual">Senha Atual</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="card_novasenha" type="password" class="validate" name="novasenha" required>
                        <label for="card_novasenha">Nova senha</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="card_confsenha" type="password" class="validate" name="confirmacaosenha" required>
                        <label for="card_confsenha">Confirme a nova senha</label>
                    </div>
                </div>
                <div class="row center">
                    <button class="modal-close btn waves-effect bg-blue-compass rounded" onclick="alteraSenha(event)" >Confirmar</button>
                </div>
                <div class="row">
                    <ul id="erros">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Ordem de carregamento de script -->
<script type="text/javascript" src="../public/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/libs/materialize.js"></script>
<script type="text/javascript" src="../public/js/menu/menu.js"></script>
<script type="text/javascript" src="../public/js/alterasenha/alteraSenha.js"></script>
<!-- Ordem de carregamento de script -->

</html>