<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../public/css/dashboard.css">
    <link rel="stylesheet" href="../../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="../public/js/CrudDaily.js"></script>
    <script type="text/javascript" src="../public/js/sweetalert2@8.js"></script>
</head>
<body class="bg-blue-compass">

    <!-- Estrutura do menu dropdown da navbar -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/alterar_senha" class="blue-compass">Alterar senha</a></li>
        <li class="divider"></li>
        <li><a href="/logout" class="blue-compass">Fazer Logout</a></li>
    </ul>
    <!-- Navbar -->
    <div class="">
        <nav class="white">
            <div class="nav-wrapper nav-padding-left">
                <a href="#!" class="blue-compass brand-logo"><i class="logo-img"></i>Game of Bols</a>
                <ul class="right hide-on-med-and-down">
                    <!--<li><a href="#"><i class="material-icons blue-compass">search</i></a></li>-->
                    <!-- Em caso de visitante, mostra link login e botão cadastro-->
                    <li><a href="/login" class="blue-compass">Entrar</a></li>
                    <li><a href="/cadastro" class="waves-effect waves-light btn bg-blue-compass rounded">Cadastrar-se</a></li>
                    <!-- Em caso de usuário logado, mostra o menu dropdown -->
                    <li><a href="#" class="hide dropdown-trigger blue-compass" data-target="dropdown1"><i class="material-icons">face</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Botão nova daily aparece apenas se usuário está logado -->
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">
                <a class="waves-effect waves-light btn-large bg-yellow-compass rounded" onclick="create()">Nova daily note</a>
            </div>
        </div>
    </div>

    <!-- Pesquisar nas dailies -->
   

    <!-- Tabela de dailies -->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <ul class="collapsible expandable">
                        <li id="teste" class="data">
                            <div class="collapsible-header">
                                <i class="material-icons">face</i>
                                <span class="span-margin data" data-name="">Nome da pessoa</span>
                                <i class="material-icons">event</i>
                                <span class="span-margin data align-right" data-date="">Data</span>
                            </div>
                            <div class="collapsible-body grey lighten-3">
                                <div class="row">
                                    <div class="col s6">
                                        <span class="data" data-ontem="">Ontem:</span><br>
                                        <span class="data" data-hoje="">Hoje:</span><br>
                                        <span class="data" data-imp="">Impedimentos:</span>
                                    </div>
                                    <div class="col s6">
                                        <a class="btn-floating white right" href="#delete"><i class="material-icons black-text">delete</i></a>
                                        <a class="btn-floating white right btn-margin-right" href="#edit"><i class="material-icons black-text">create</i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- <li>
                            <div class="collapsible-header">
                                <i class="material-icons">face</i>
                                <span class="span-margin">Nome da pessoa</span>
                                <i class="material-icons">event</i>
                                <span class="span-margin align-right">Data</span>
                            </div>
                            <div class="collapsible-body grey lighten-3">
                                <span>Ontem:</span><br>
                                <span>Hoje:</span><br>
                                <span>Impedimentos:</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">face</i>
                                <span class="span-margin">Nome da pessoa</span>
                                <i class="material-icons">event</i>
                                <span class="span-margin align-right">Data</span>
                            </div>
                            <div class="collapsible-body grey lighten-3">
                                <span>Ontem:</span><br>
                                <span>Hoje:</span><br>
                                <span>Impedimentos:</span>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer bg-blue-compass">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="pagination center">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active grey"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text">2</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text">3</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>    
    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.js"></script>
    <script type="text/javascript" src="../public/js/md5.min.js"></script>
    <script type="text/javascript" src="../public/js/inicio.js"></script>
    <script type="text/javascript" src="../public/js/dashboard.js"></script>
    <script type="text/javascript">
     function create() {
        Swal.mixin({
            input: 'text',
            confirmButtonText: 'Next &rarr;',
            showCancelButton: true,
            progressSteps: ['1', '2', '3']
        }).queue([
            {
                title: 'Question 1',
                text: 'O que você fez ontem?'
            },
            {
                title: 'Question 2',
                text:'O que você fará hoje?',
            },
            {
                title: 'Question 3',
                text: 'Teve ou tem algum impedimento?',
            } 
        ]).then((result) => {
            if(value=== '') { 
                return !value && 'Você precisar escrever alguma coisa!'
            } else {
                Swal.fire({
                    title: 'Excelente!',
                    html:
                    'Your answers: <pre><code>' +
                        JSON.stringify(result.value) +
                    '</code></pre>',
                    confirmButtonText: 'Registrar Daily! '
                })
            }
        })
        console.log(create);
    }
    </script>
</body>
</html>