<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Game of bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/login.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/dashboard.css">
    <link rel="stylesheet" href="../../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/materialize.js"></script>
    <script type="text/javascript" src="../../public/js/md5.min.js"></script>
    <script type="text/javascript" src="../../public/js/inicio.js"></script>
    <script type="text/javascript" src="../../public/js/dashboard.js"></script>
</head>
<body class="bg-blue-compass">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper white nav-padding-left">
                <a href="#!" class="blue-compass brand-logo"><i class="logo-img"></i>Game of Bols</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html"><i class="material-icons blue-compass">search</i></a></li>
                    <li><a href="badges.html"><i class="material-icons blue-compass">view_module</i></a></li>
                    <li><a href="collapsible.html"><i class="material-icons blue-compass">refresh</i></a></li>
                    <li><a href="mobile.html"><i class="material-icons blue-compass">more_vert</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <div class="row center">
            <a class="waves-effect waves-light btn-large bg-yellow-compass rounded">Nova daily note</a>
        </div>
        <div class="row">
            <ul class="collapsible expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
        <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active grey"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!" class="white-text">2</a></li>
            <li class="waves-effect"><a href="#!" class="white-text">3</a></li>
            <li class="waves-effect"><a href="#!" class="white-text"><i class="material-icons">chevron_right</i></a></li>
        </ul>     
    </div>         
</body>
</html>