<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/helpcenter.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/material-icons.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
</head>

<body class="bg-blue-compass">
    <header>
        <% include ./includes/navbar.ejs %>
    </header>
    <!-- Botão novo topico aparece ativo apenas se usuário está logado -->
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>

    <div class="container">
        <div class="section">
            <!-- Buscar nos tópicos -->
            <div class="row white z-depth-2">
                <div class="input-field col l2 m2 s12">
                    <select id="search_select" onchange="searchOp()" placeholder="">
                        <option value="data">Data</option>
                        <option value="username">Usuário</option>
                        <option value="query">Título</option>
                        <option value="tag">Tag</option>                      
                    </select>
                    <label>Buscar por:</label>
                </div>
                <div id="div_data" class="input-field input-search col l8 m7 s12">
                    <input placeholder=" " name="search_data" type="text" class="datepicker">
                    <label for="search_data">Data</label>
                </div>
                <div id="div_username" class="input-field input-search col l8 m7 s12 hide">
                    <input placeholder=" " name="search_username" type="text" class="active">
                    <label for="search_username">Usuário</label>
                </div>
                <div id="div_query" class="input-field input-search col l8 m7 s12 hide">
                    <input placeholder=" " name="search_query" type="text" class="active">
                    <label for="search_query">Título</label>
                </div>
                <div id="div_tag" class="input-search col l8 m7 s12 hide">
                    <div class="chips chips-autocomplete"></div>
                </div>
                <div class="input-field col l2 m2 s12 center">
                    <button class="btn bg-blue-compass btn-margin-filter" onclick="buscar()">buscar</button>
                </div>
            </div>
            <!-- Barra de progresso -->
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <!-- Tópicos -->
            <div id="topics_section" class="col s12 hide">
                <div id="list-posts" class="collection mouse-topico">
                </div>
            </div>
        </div>
    </div>

    <% include ./includes/chatbot.ejs %>

        <!-- Paginação -->
        <footer class="page-footer bg-blue-compass">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <ul class="pagination center">
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    <!-- Ordem de carregamento de script -->
    <script type="text/javascript" src="../public/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/libs/materialize.js"></script>
    <script type="text/javascript" src="../public/js/libs/md5.min.js"></script>
    <script type="text/javascript" src="../public/js/libs/sweetalert2@8.js"></script>
    <script type="text/javascript" src="../public/js/login/inicio.js"></script>
    <script type="text/javascript" src="../public/js/menu/menu.js"></script>
    <script type="text/javascript" src="helper/custom_materialize.js"></script>
    <script type="text/javascript" src="helper/valida.js"></script>
    <script type="text/javascript" src="../public/js/semcontrato/helpStart.js"></script>
    <script type="text/javascript" src="../public/js/semcontrato/helpCRUD.js"></script>


</body>

</html>