<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../public/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../public/css/material-icons.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
</head>
<body class="bg-blue-compass">
    <!-- Estrutura do menu dropdown da navbar -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/alterar_senha" class="blue-compass">Alterar senha</a></li>
        <li class="divider"></li>
        <li><a href="/logout" class="blue-compass">Fazer Logout</a></li>
    </ul>
    <!-- Navbar -->
    <div>
        <nav class="white">
            <div class="nav-wrapper nav-padding-left">
                <a href="/" class="blue-compass brand-logo"><i class="logo-img"></i>Game of Bols</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/" class="blue-compass left-divider">Home</a></li>
                    <li><a href="/" class="blue-compass">Daily Notes</a></li>
                    <li class="active"><a href="/helpcenter" class="blue-compass">Help Center</a></li>
                    <!-- Em caso de visitante, mostra link login e botão cadastro-->
                    <li><a href="/login" class="blue-compass">Entrar</a></li>
                    <li><a href="/cadastro" class="waves-effect waves-light btn bg-blue-compass rounded">Cadastrar-se</a></li>
                    <!-- Em caso de usuário logado (user ou admin), mostra o menu dropdown -->
                    <li><a href="#" class="dropdown-trigger blue-compass hide" data-target="dropdown1"><i class="material-icons">face</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Botão nova daily aparece apenas se usuário está logado e é do tipo user -->
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center <%if(user.tipo=='' || user.tipo=='admin'){%><%='hide'%><%}%>">
                <a class="waves-effect waves-light btn-large bg-yellow-compass rounded" onclick="create()">Novo tópico</a>
            </div>
        </div>
    </div>

    <!-- Buscar nos tópicos -->

    <!-- Ordenar tópicos -->

    <!-- Tabela de tópicos -->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="collection">
                        <div class="topico">
                            <a href="#" class="collection-item avatar">
                                <img src="../public/img/user.png" alt="" class="circle">
                                <span class="black-text">Nome do usuário</span><br>
                                <span class="black-text topico-titulo">Eu estou morrendo de fome! Alguém pode me ajudar?</span><br>
                                <span class="grey-text">03/07/2019 - 12:27</span>
                                <span class="secondary-content"><i class="material-icons grey-text">thumb_up</i></span>
                            </a>
                        </div>                        
                        <div class="topico">
                            <a href="#" class="collection-item avatar">
                                <img src="../public/img/user.png" alt="" class="circle">
                                <span class="black-text">Nome do usuário</span><br>
                                <span class="black-text topico-titulo">Procuro ideias para que meus dedos não congelem enquanto eu digito.</span><br>
                                <span class="grey-text">03/07/2019 - 12:27</span>
                                <span class="secondary-content"><i class="material-icons grey-text">thumb_up</i></span>
                            </a>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="confirme">
        <button class="modal-close btn waves-effect bg-blue-compass rounded" onclick="alterar_senha_logado(event)">Confirmar</button>
    </div> -->

    <!-- Paginação -->
    <!--
    <footer class="page-footer bg-blue-compass">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="pagination center">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active grey"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text">2</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text">3</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    -->

    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.js"></script>
    <script type="text/javascript" src="../public/js/md5.min.js"></script>
    <script type="text/javascript" src="../public/js/inicio.js"></script>
    <script type="text/javascript" src="../public/js/sweetalert2@8.js"></script>
    <script type="text/javascript" src="../public/js/crud_daily.js"></script>
    <script type="text/javascript" src="../public/js/dashboard.js"></script>
</body>

</html>