<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/helpcenter.css">
    <link rel="stylesheet" type="text/css" href="../public/css/material-icons.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
    <link rel="stylesheet" type="text/css" href="../public/css/daily.css">
</head>
<body class="white">
    <header>
        <% include ./includes/navbar.ejs %>
    </header>
    <main>
        <!-- Container de imagem de boas vindas -->
        <div class="hero-image z-depth-2">
            <div class="hero-text hide-on-small-only">
                <h3 class="mont-serrat">Bem vindo ao Game of Bols</h3>
                <h5>O sistema ideal para seu time ágil.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 margin-top">
                <div class="container">
                    <h5 class="col s12 black-text mont-serrat">Últimas atualizações</h5>
                </div>
            </div>
            <!-- Tabs -->
            <div class="col s12 margin-top">
                <div class="container">
                    <ul class="tabs left">
                        <li class="tab col s3">
                            <a class="active blue-compass" href="#tab1">
                                <i class="material-icons left">event_note</i>
                                <span class="left">Daily Notes</span>
                            </a>
                        </li>
                        <li class="tab col s3">
                            <a class="blue-compass" href="#tab2">
                                <i class="material-icons left">help_outline</i>
                                <span class="left">HelpCenter</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Container de últimas daily notes -->
            <div id="tab1" class="col s12 margin-top">
                <div class="container">
                    <div id="div_dailies">
                        <div id="show_dailies" class="row">
                            <ul id="collapsible_daily" class="not-clickable"></ul>
                        </div>
                        <div class="col s12 center">
                            <button class="btn bg-blue-compass rounded waves-effect" onclick="dailynote()">Ver todas</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container de últimas atualizações no helpcenter -->
            <div id="tab2" class="col s12 margin-top">
                <div class="container">
                    <div id="div_helpcenter">
                        <div id="list-posts" class="collection mouse-topico"></div>
                        <div class="col s12 center">
                            <button class="btn bg-blue-compass rounded waves-effect margin-top-6" onclick="helpcenter()">Ver todas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>    
    <!-- Footer -->
    <footer class="page-footer transparent">
        <div class="footer-copyright bg-blue-compass">
            © 2019 Compasso Tecnologia
        </div>
    </footer>

    <% include ./includes/chatbot.ejs %>
    <!-- Ordem de carregamento de script -->
    <script type="text/javascript" src="../public/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/libs/materialize.js"></script>
    <script type="text/javascript" src="../public/js/libs/md5.min.js"></script>
    <script type="text/javascript" src="../public/js/menu/menu.js"></script>
    <script type="text/javascript" src="../public/js/home/home.js"></script>
    <script type="text/javascript" src="../helper/valida.js"></script>
    <script type="text/javascript" src="../public/js/daily/DailyDOM.js"></script>
    <script type="text/javascript" src="../public/js/daily/DailyCrud.js"></script>
    <script type="text/javascript" src="../public/js/daily/DailyStart.js"></script>
    <script type="text/javascript" src="../public/js/helpcenter/helpcenter.js"></script>        
    <script type="text/javascript" src="../public/js/tour/tour.js"></script>
    <script type="text/javascript" src="../public/js/libs/driver.min.js"></script>
    <!-- Ordem de carregamento de script -->
</body>
</html>