<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
</head>
<body>
    <div class="row">
        <!-- Formulário -->
        <div id="nav_form" class="col m8 s12 grey lighten-5 z-depth-5 full-height valign-wrapper">
            <div class="row center margin-login">
                <h2 class="blue-compass center mont-serrat height-title">Acessar sua conta</h2>
                <form action="/login" method="post">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <input id="login_email" type="text" class="active" name="username" required>
                            <label for="login_email">E-mail ou nome de usuário</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="login_senha" type="password" class="active" name="senha" required>
                            <label for="login_senha">Senha</label>
                        </div>
                        <div class="col s12 margin-forgot-pass">
                            <a class="blue-text modal-trigger" href="#modal_key">Esqueci a senha</a>
                        </div>
                    </div>
                    
                    <% if(errorMessage != '') { %>
                        <li><%= errorMessage %></li>
                    <% } %>
                    
                    <div class="row center">
                        <input class="btn bg-blue-compass rounded" type="submit" value="Entrar" />
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- modal de alteração de senha -->
        <div id="modal_key" class="modal">
            <form>
                <div class="modal-content">
                    <h6 class="blue-compass center mont-serrat margin-bottom">Nos ajude a recuperar sua senha. Enviaremos um link para o seu e-mail</h6>
                    <div class="input-field">
                        <input id="modal_username" type="text" class="active" name="modal_username" pattern="[a-zA-Z0-9]{4,20}$" required>
                        <label for="email">Nome de usuário</label>
                        <span class="helper-text" data-error="nome de usuário deve ter de 4-20 caracteres alfanuméricos" data-success="nome de usuário válido"></span>
                    </div>
                    <div class="input-field">
                        <input id="modal_email" type="email" name="modal_email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required>
                        <label for="modal_email">Email</label>
                        <span class="helper-text" data-error="email inválido" data-success="email válido"></span>
                    </div>
                </div>
                <div class="row center">
                    <button class="btn waves-effect bg-blue-compass rounded" value="Recuperar" onclick="recoveryPassword(event)">Recuperar</button>
                </div>
            </form>
        </div>
        <!-- fim modal -->
        <!-- Fim do formulário -->
        <!-- Coluna azul -->
        <div id="nav_btn" class="col m4 s12 gradient-compass valign-wrapper center">
            <div class="row nav-btn-padding">
                <div class="row">
                    <h4 class="white-text mont-serrat">Novo por aqui?</h4>
                </div>
                <div class="row">
                    <span class="white-text mont-serrat">Cadastra-se no Game of Bols e junte-se a nós! Adoraríamos ter você por aqui.</span>
                </div>
                <div class="row">
                    <button id="btn_cad" class="btn bg-blue-compass rounded waves-effect" onclick="cadastro()">Criar nova conta</button>
                </div>
                <div class="row">
                    <button id="btn_visit" class="btn bg-blue-compass rounded waves-effect" onclick="visit()">Sou visitante</button>
                </div>
            </div>
        </div>
        <!-- Fim da coluna azul -->
    </div>
    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/login.js"></script>
    <script type="text/javascript" src="../public/js/materialize.js"></script>
    <script type="text/javascript" src="../public/js/md5.min.js"></script>
    <script type="text/javascript" src="../public/js/inicio.js"></script>    
</body>
</html>