<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/material-icons.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/css/novo_topico.css">
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
</head>

<body class="bg-blue-compass">
    <header>
        <% include ./includes/navbar.ejs %>
    </header>

    <!-- Novo tópico -->
    <div class="section">
        <div class="container white z-depth-1">
            <div class="row white">
                <div class="col s12">
                    <h5 class="blue-compass mont-serrat">Novo tópico</h5>
                    <div class="divider"></div>
                    
                    <form action="/helpcenter" method="post" id='topico-form'>
                        <div class="div-margin col s12">
                            <div class="padding-titulo input-field col s12">
                                <input id="topico-titulo" placeholder="Digite aqui o título do tópico" name="titulo" type="text" class="active" required>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s12">
                                <% if(user.imagem){ %>
                                <img class="circle resize-forum" src="../public/uploads/<%= user.imagem %>"></a>
                                <% } else { %>
                                <img  class="circle avatar-user" src="../public/img/user.png" alt="">
                                <% } %>
                                <span class="grey-text text-darken-2 nome-user"><%= user.username %></span>
                            </div>
                            <textarea name="corpo" id="corpo" rows="10" cols="80" form="topico-form" required>
                            </textarea>

                        </div>
                        <div class="div-margin col s12">
                            <label class="left col s12">Selecione as tags:</label>
                            <div class="div-margin left col s12">
                                <% tags.forEach(function(tag) { %>
                                <span class="chip waves-effect"><%= tag %></span>
                                <% }); %>
                            </div>
                        </div>
                        <input id="tags" name="tags" type="hidden" class="active" value=''>
                        <div class="div-margin col s12 center">
                            <input class="btn bg-blue-compass rounded" type="submit" value="Enviar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% include ./includes/chatbot.ejs %>
    <!-- Ordem de carregamento de script -->
    <script type="text/javascript" src="../../public/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/libs/materialize.js"></script>
    <script type="text/javascript" src="../../public/js/libs/md5.min.js"></script>
    <script type="text/javascript" src="../../public/js/menu/menu.js"></script>
    <script type="text/javascript" src="../../public/ckeditor/ckeditor.js"></script>
    <!-- <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script> -->
    <script type="text/javascript" src="../../public/js/helpcenter/novo_topico.js"></script>
    
    <!-- Ordem de carregamento de script -->

</body>

</html>